<!DOCTYPE html>
<html>
<head>
    <title>{{ APP_NAME }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="/static/img/favicon.ico" />
    <style>
        form.form-inline {
            margin: 0 0 0 0;
        }

        footer {
            background-color: #d6e9c6;
            padding: 20px 0 20px 0;
        }

        header {
            background-color: #333;
        }

        header .navbar {
            max-width: 1172px;
            margin: auto;
        }

        #login-div {
            padding-top: 5px;
        }


    </style>
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var $form = $('#lang_form')
            $('#lang_select').change(function () {
                $form.submit();
            });
        });

    </script>

    {% macro xsrf_input() %}
        <input type="hidden" name="xsrf_token" value="{{ XSRF_TOKEN }}"/>
    {% endmacro %}

    {% block head %}








        {#  <!-- Fav and touch icons -->#}
        {#       <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/apple-touch-icon-144-precomposed.png">#}
        {#       <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/apple-touch-icon-114-precomposed.png">#}
        {#       <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/apple-touch-icon-72-precomposed.png">#}
        {#       <link rel="apple-touch-icon-precomposed" href="img/apple-touch-icon-57-precomposed.png">#}
        {#       <link rel="shortcut icon" href="img/favicon.png">#}


    {% endblock %}
</head>
</div>
{% macro select_navbar(selected='HOME') %}

    <div class="navbar navbar-inverse">
        <div class="navbar-inner">
            <div class="container">
                <a data-target=".navbar-responsive-collapse" data-toggle="collapse"
                   class="btn btn-navbar"><span class="icon-bar"></span><span class="icon-bar"></span><span
                        class="icon-bar"></span></a> <a href="#" class="brand">{{ APP_NAME }}</a>

                <div class="nav-collapse collapse navbar-responsive-collapse">
                    <ul class="nav">
                        <li {% if selected == 'HOME' %}class="active"{% endif %}>
                            <a href="/">{% trans %}Home{% endtrans %}</a>
                        </li>
                        <li {% if selected == 'SITES' %}class="active"{% endif %}>
                            <a href="/sites">{% trans %}My Sites{% endtrans %}</a>
                        </li>
                        <li {% if selected == 'API' %} class="active"{% endif %}>
                            <a href="/api">{% trans %}API{% endtrans %}</a>
                        </li>
                        <li {% if selected == 'LANGUAGES' %}class="active"{% endif %}>
                            <a href="/languages">{% trans %}Languages{% endtrans %}</a>
                        </li>

                    </ul>
                    <div class="pull-right" id='login-div'>
                        {% if current_user %}


                            <form class="form-inline" action="/logout" method="post">
                                <div class="input-append">

                                    {{ xsrf_input() }}
                                    <span class="input-xlarge uneditable-input">{{ current_user['email'] }}</span>
                                    <button class="btn btn-danger" type="submit">{% trans %}
                                        Logout{% endtrans %}</button>
                                </div>
                            </form>
                        {% else %}
                            <form class="form-inline" action="/login" method="post">
                                <div class="input-append">
                                    <input class="span2" name="email" type="text" placeholder="{% trans %}Type your email{% endtrans %}"/>
                                    {{ xsrf_input() }}
                                    <button class="btn btn-success" type="submit">{% trans %}
                                        Login{% endtrans %}</button>
                                </div>
                            </form>
                        {% endif %}
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endmacro %}

<body>
<header>
    {% block navbar %}{{ select_navbar() }}{% endblock %}
</header>
<div class="container">
    {% block body %}{% endblock %}
</div>
<footer>
    <div class="container">
        <div class="row">
            <div class="span4">

                <form id="lang_form" action="/languages/change" method="post">
                    {{ xsrf_input() }}
                    {% set available_langs={'en_US':'English','pt_BR':'Português (Brasil)'} %}
                    <select id="lang_select" name="lang">
                        {% for lang in available_langs %}
                            <option value="{{ lang }}" {{ 'selected="selected"' if lang==CURRENT_LANGUAGE }}>{{ available_langs[lang] }}</option>
                        {% endfor %}
                    </select>

                </form>


            </div>
        </div>
    </div>
</footer>
</body>
</html>
