{% extends "base/base.html" %}
{% block navbar %}{{ select_tab('SITES') }}{% endblock %}
{% block css %}
  <style>

    th {
      background-color: silver;
    }

    th.id-column {
      width: 15%;
    }

    th.domain-column {
      width: 40%;
    }

    table.table td {
      vertical-align: middle;
    }
  </style>
{% endblock %}
{% block js %}
  <script type="text/javascript" src="/static/angular/js/angular.min.js"></script>
  <script type="text/javascript" src="/static/js/sites/site_manager.js"></script>
  {% block api_service %}
    <script type="text/javascript" src="/static/js/sites/site_api_mock.js"></script>
  {% endblock %}
{% endblock %}
{% block body %}
  <div class="container">
    <div class="row">
      <div class="col-md-12" ng-app="siteManagerApp" ng-controller="SiteManagerCtrl">

        <h1>{% trans %}My Sites{% endtrans %}</h1>

        <domain add-site="addSite(site)" placeholder="{% trans %}Type your site domain{% endtrans %}"
                label="{% trans %}Add Domain{% endtrans %}"
                error-header="{% trans %}Error(s):{% endtrans %}"></domain>
        <div ng-show="sites.length!=0">
          <p>{% trans %}To edit your site's domain, click on it's Domain column.{% endtrans %}</p>

          <sitelist id-header='{% trans %}App Id{% endtrans %}'
                    domain-header='{% trans %}Domain{% endtrans %}'
                    token-header='{% trans %}Token{% endtrans %}'
                    save-label='{% trans %}Save{% endtrans %}'
                    refresh-label='{% trans %}Refresh{% endtrans %}'
                    refresh-confirmation='{% trans %}If you refresh the token, you will need to change this token on your site. Are you sure you want refresh it? {% endtrans %}'
                    sites="sites"></sitelist>

        </div>
        <div ng-show="sites.length==0" style="margin-bottom: 400px">
                <span ng-show="loadingSites"><img src="/static/img/ajax.gif"/> {% trans %}Loading
                  sites{% endtrans %}</span>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
