{% extends "templates/base.html" %}
{% block head %}
    <style>
        .diagram {
            border: solid 1px;
        }

        .center {
            text-align: center;
        }
    </style>
{% endblock %}
{% block navbar %}{{ select_tab('API') }}{% endblock %}
{% block body %}
    <div class="row">
        <div class="span12">
            <h1>{% trans %}API Documentation{% endtrans %}</h1>

            <p>
                {% trans %} This documentation provides the necessary information
                    for {{ APP_NAME }} integration on websites. It is supposed that people reading these docs
                    has basic knowledge about HTTP GET and POST calls and JSON.{% endtrans %}
            </p>

            <h2>{% trans %}Table of Contents{% endtrans %}</h2>
            <ol>
                <li><a href="#overview">{% trans %}Overview{% endtrans %}</a></li>
                <hli><a href="#table_summary">{% trans %}Summary{% endtrans %}</a></li>
                <li><a href="#register-sites">{% trans %}Registering Sites{% endtrans %}</a></li>
            </ol>
        </div>
    </div>
    <hr/>
    <div class="row" id="overview">
        <div class="span12">
            <h3>{% trans %}Overview{% endtrans %}</h3>

            <div class="row">
                <div class="span7">
                    <p>{% trans %} The sequence diagram on right shows the overview schema of
                        authentication. It contains the following steps:{% endtrans %}
                    <ol>
                        <li>
                            {% trans %} After registering your site, you can make a HTTP Post call
                                to {{ APP_NAME }} with user email or id;{% endtrans %}
                        </li>
                        <li>
                            {% trans %} {{ APP_NAME }} send an email to user containing a secure login
                                link;{% endtrans %}
                        </li>
                        <li>
                            {% trans %} User clicks on login link;{% endtrans %}
                        </li>
                        <li>
                            {% trans %} {{ APP_NAME }} send a HTTP Get call to your site so you know she logged
                                in;{% endtrans %}
                        </li>
                        <li>
                            {% trans %} Your site send a HTTP Get call to {{ APP_NAME }} asking for user id and
                                email;{% endtrans %}
                        </li>
                        <li>
                            {% trans %} After receiving user data, you log the user in and show your welcome
                                page;{% endtrans %}
                        </li>
                    </ol>
                    </p>
                    <p>{% trans %}Each step, including parameters and response formats, will be explained in detail on
                        following sections.{% endtrans %}</p>

                    <p>{% trans %}<a href="#table_summary">Summary</a> shows all the available REST api. The return
                        format is JSON.{% endtrans %}</p>


                </div>
                <div class="span5">
                    <div class="center">
                        <img class="diagram" src="/static/img/auth_seq.png" alt="Authentication Sequence Diagram"/>
                    </div>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="span12">
                    <div id="table_summary" class=well><h3 class="center">{% trans %}Table 1 -
                        Summary{% endtrans %}</h3>
                        {% set API_BASE_URL ='https://'+ APP_HOST +'/rest' %}
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>{% trans %}Call{% endtrans %}</th>
                                <th>{% trans %}Parameters{% endtrans %}</th>
                                <th>{% trans %}Return{% endtrans %}</th>
                                <th>{% trans %}Description{% endtrans %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>{{ API_BASE_URL }}/login</td>
                                <td>{% trans %}<h4>Required</h4>
                                    <b>app_id (String)</b> - the registered domain id;<br/>
                                    <b>token (String)</b> - the registered domain token;<br/>
                                    <b>hook (String)</b> - the address on your website which {{ APP_NAME }} will make a
                                    post call indicating user has logged in.<br/>
                                    <h4>Optional</h4>
                                    <b>email (String)</b> - user's email. Ignored if id is present;<br/>
                                    <b>user_id (String)</b> - user's id on {{ APP_NAME }};<br/>
                                    <b>lang (String)</b> - The language {{ APP_NAME }} must use on email. Available
                                    values: en_US (English) and pt_BR (Brazilian Portuguese). Default:
                                    en_US.{% endtrans %}
                                </td>
                                <td>{% trans %}JSON containing the ticket of the login call. Ex:
                                    {ticket:"123456"}.{% endtrans %}</td>
                                <td>{% trans %}This call will send user an email containing the login link. One of id or
                                    email must be sent. If the two are specified, id will be used to identify the user
                                    instead of email.
                                    Returns a ticket so your website can certify that it has done this
                                    call.{% endtrans %}</td>
                            </tr>
                            <tr>
                                <td>Your hook</td>
                                <td>{% trans %}<h4>Required</h4>
                                    <b>ticket (String)</b> - the ticket sent login call;<br/>
                                {% endtrans %}
                                </td>
                                <td>{% trans %} Your site need to sent a 200 HTTP status code. Any message sent is
                                    ignored {% endtrans %}</td>
                                <td>{% trans %}After user click on link sent by email, {{ APP_NAME }} will make a Post
                                    call on the hook defined on login phase containing the ticket number. This ticket
                                    can be used to retrieve user's detail from {{ APP_NAME }}.{% endtrans %}</td>
                            </tr>
                            <tr>
                                <td>{{ API_BASE_URL }}/detail</td>
                                <td>{% trans %}<h4>Required</h4>
                                    <b>token (String)</b> - the registered domain token;<br/>
                                    <b>ticket (String)</b> - the code sent to your hook url.<br/>
                                {% endtrans %}
                                </td>
                                <td>{% trans %}JSON containing user's details. Ex:
                                    {id:"654321",email:"foo@bar.com"}.{% endtrans %}</td>
                                <td>{% trans %}This call returns the user's details that can save in your site. The id
                                    of a user will never change, so you can use it as a strong
                                    reference. After this call, you can save cookies on user's browser to keep she
                                    logged.{% endtrans %}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <div class="row" id="register-sites">
        <div class="span12">
            <h3>{% trans %}Registering Sites{% endtrans %}</h3>

            <p>Prior to make API calls, you need to <a target="_blank" href="/sites">register</a> the site which you intend to
                use {{ APP_NAME }}.
                After the registration, a token will be assigned to your site and it will be used on every call.
            </p>
        </div>
    </div>
{% endblock %}
