{% extends "templates/base.html" %}
{% block body %}
    <div class="row-fluid">
        <div class="span12">
            <h1>{% trans login_msg=errors['ticket'] %}{{ login_msg }}{% endtrans %}</h1>

            <p>
                {% trans %} Something is wrong with the login process, sorry for inconvenience. You can see error messages bellow:{% endtrans %}
            </p>
            {% for key,msg in errors.iteritems() %}
            <p>
                 {{ msg }}
            </p>
            {% endfor %}

        </div>
    </div>
{% endblock %}
