{% extends "templates/base.html" %}
{% block body %}
    <div class="row-fluid">
        <div class="span12">
            <h1>{% trans login_msg=errors['ticket'] %}{{ login_msg }}{% endtrans %}</h1>

            <p>
                {% trans %} Something is wrong with the login process, sorry for inconvenience.{% endtrans %}
            </p>
            <p>
                {% trans %} For security purpose, the login link has an expiration time and can be uses only one time.{% endtrans %}
            </p>
            {% if site %}
            <p>
                {% trans domain=site.domain %} Please, access {{ domain }} and try log in again.{% endtrans %}
            </p>
            {% endif %}
        </div>
    </div>
{% endblock %}
