{% extends "templates/base.html" %}
{% block body %}
    <div class="row-fluid">
        <div class="span12">
            <h1>{% trans %}Login Message{% endtrans %}</h1>

            <p>
                {% trans %} Check your email. {{ APP_NAME }} will send you a link so you can login.{% endtrans %}
            </p>

            <p>
                {% trans %} Don't forget checking the spam box, once some email providers can automatically filter it.{% endtrans %}
            </p>
        </div>
    </div>
{% endblock %}
